
{% extends 'layout.html' %}
{% load static %}


{% block content %}



<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Item Name</th>
					  <th class=""> Item Quantity
					  </th>
                      <th class="">Item Price</th>
                      <th class="">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
					{% for order_item in order.products.all %}
                    <tr class="">
                      <td class="">
                        <div class="product-info">
                          <img width="80" src="{{order_item.product.thumb.url}}" alt="" />
                          <a href="#!">{{order_item.product.name}}</a>
                        </div>
                      </td>
						
					  <td class="">
						<a class="cart-link"href="{% url 'istore:remove_one_cart' slug=order_item.product.slug  %}">
							<i class="tf-ion-minus"></i>
							</a>

						X{{order_item.quantity}}

						<a class="cart-link"href="{% url 'istore:one_cart' slug=order_item.product.slug %}">
							<i class="tf-ion-plus"></i>
						  </a>
					  </td>
                      <td class="">${{order_item.get_item_price}}</td>
                      <td class="">
                        <a class="product-remove" href="{% url 'istore:remove_cart' slug=order_item.product.slug %}">Remove</a>
                      </td>
                    </tr>

					
					{% endfor %}

					<tr>
						<td>Total price</td>
						
						<td colspan="5" rowspan="5">${{order.get_cart_total}}</td>
						
					  </tr>
                  
                  </tbody>
                </table>
                <a href="{% url 'istore:checkout' %}" class="btn btn-main pull-right float-right ">Checkout</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}