{% extends 'layout.html' %}


{% block content %}

<style>

section{

    padding:60px 0;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:100%;
  }
  
.cart-shop , .cart-check{
  padding:10px 10px 10px 10px;
  color:#ffffff;
  border:10px solid transparent;
}


.cart-shop{
  background:#f4ec49;
}
  
.cart-check{
  background:#7cb342;
}

.table{
  width:100%;
}
</style>

<section>
<div class="container cart">
  <div class="row ">
    <div class="col-md-12">
      <div class="table-responsive text-nowrap table-md table-hover table-stripped cart-table  ">
        <table class="table table-stripped ">
          <thead>
            <tr>
            <th>#</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          </tr>
          </thead>
          <tbody>
    {% for order_item in order.products.all %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
          <td>{{order_item.product.name}}</td>
          
          
            <td>
             <a class="cart-link"href="{% url 'istore:remove_one_cart' slug=order_item.product.slug  %}">
            <i class="fa fa-minus"></i>
            </a>
            {{order_item.quantity}}
            <a class="cart-link"href="{% url 'istore:cart' slug=order_item.product.slug %}">
              <i class="fa fa-plus"></i>
            </a>
            
            </td>
          
          
            <td>${{order_item.product.price}}</td>
          
            <td>${{order_item.get_item_price}}</td>
            
            
            <td><a class="btn btn-outline-white btn-danger pull-right" href="{% url 'istore:remove_cart' slug=order_item.product.slug %}"><i class="fa fa-trash "></i></a>
            </td>
          </tr>
          
          {% endfor %}
          
          <tr>
            <td>Total price</td>
            
            <td colspan="5">${{order.get_cart_total}}</td>
            
          </tr>
          
          <tr>
            
            
            <td colspan="5">
              <a class="btn cart-shop btn-outline-white pull-right" href="{%  url 'istore:homepage' %}">
                Continue shopping
              </a>
            </td>
            {% if order.get_cart_total %}
            <td colspan="5">
              <a class="btn cart-check btn-outline-white  pull-right" name="checkout-btn" href="{% url 'istore:checkout' %}">Proceed To Checkout</a>
            </td>
            {% endif %}
          </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>







{% endblock %}