{% extends 'layout.html' %}

{% block content %}
<style>
  
  .address-btn,.stack-btn{
    width:100%;
    border-radius:8px;
  }
  .stack-btn{
    background:green;
    margin-top: 5px;
  }
  form{
    width:100%;
  }
</style>



     <div class="container mt-5">
       <div class="row justify-content-center">
         <form method="post" action="{% url 'istore:checkout' %}">
           {%csrf_token%}
           <div class="col-md-12">
             {{form}}
           </div>
           
           <input type="submit" class="address-btn btn-primary mt-4 btn-outline-white" name="submit" value="submit">
           </div>
         </form>
         
         
        
           
           {% if form.is_valid %}
           
  <form>
    {% csrf_token %}
    <div class="row justify-content-center">
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <a type="button" class="btn btn-outline-white stack-btn btn-rounded" value="Pay With Paystack" onlick="payWithPaystack()">payWithPaystack</a>
  </div>
</form>

<script>

          function payWithPaystack(){
            var handler = PaystackPop.setup({
              key: '{{paystack_public}}',
              email: '{{email}}',
              amount: {{order.get_cart_total}} * 100,
              currency: "NGN",
              ref: '{{order.transaction_id}}',
              firstname: 'Iyanu',
              lastname: 'Akinwumi',
              // label: "Optional string that replaces customer email"
              metadata: {
                  custom_fields: [
                    {
                        display_name: "Mobile Number",
                        variable_name: "mobile_number",
                        value: "+2348012345678"
                    }
                  ]
              },
              callback: function(response){
                  alert('success. transaction ref is ' + response.reference);

                  window.location.href= "{% url 'istore:verify_payment' order.transaction_id %}"
              },

        

              onClose: function(){
                  alert('window closed');
              }
            });
            handler.openIframe();
          }

             
         
</script>
{% endif %}
     </div>
     </div>
           
           
     
{% endblock %}