{% extends 'layout.html' %}


{% block content %}


{% load static %}


  <section class="products section bg-gray">
   <div class="container">
    <div class="row">
     <div class="title text-center">
      <h2>
       Trendy Products
      </h2>
     </div>
    </div>
    <div class="row">
      {% for p in product %}
      <div class="col-md-4">
      <div class="product-item">
       <div class="product-thumb">
        <span class="bage">
         Sale
        </span>
        <img alt="product-img" class="img-responsive" src="{{p.thumb.url}}"/>
        <div      class="preview-meta">
         <ul>
    
          <li>
           <a href="{% url 'istore:description' p.slug %}">
            <i class="tf-ion-ios-eye">
            </i>
           </a>
          </li>
          <li>
           <a href="{% url 'istore:cart' p.slug %}">
            <i class="tf-ion-android-cart">
            </i>
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="product-content">
        <h4>
         <a href="product-single.html">
          Reef Boardsport
         </a>
        </h4>
        <p class="price">
         $200
        </p>
       </div>
      </div>
     </div>
     {% endfor %}
   
     <!-- Modal -->
     <div class="modal product-modal fade" id="product-modal">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
       <i class="tf-ion-close">
       </i>
      </button>
      <div class="modal-dialog" role="document">
       <div class="modal-content">
        <div class="modal-body">
         <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
           <div class="modal-image">
            <img alt="product-img" class="img-responsive" src="{% static 'images/shop/products/modal-product.jpg' %}"/>
           </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
           <div class="product-short-details">
            <h2 class="product-title">
             GM Pendant, Basalt Grey
            </h2>
            <p class="product-price">
             $200
            </p>
            <p class="product-short-description">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
            </p>
            <a class="btn btn-main" >
             Add To Cart
            </a>
            <a class="btn btn-transparent" href="product-single.html">
             View Product Details
            </a>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- /.modal -->
    </div>
   </div>
  </section>
  <!--
Start Call To Action
==================================== -->
  
  <!-- End section -->
  <section class="section instagram-feed">
   <div class="container">
    <div class="row">
     <div class="title">
      <h2>
       View us on instagram
      </h2>
     </div>
    </div>
    <div class="row">
     <div class="col-12">
      <div class="instagram-slider" data-accesstoken="IGQVJYeUk4YWNIY1h4OWZANeS1wRHZARdjJ5QmdueXN2RFR6NF9iYUtfcGp1NmpxZA3RTbnU1MXpDNVBHTzZAMOFlxcGlkVHBKdjhqSnUybERhNWdQSE5hVmtXT013MEhOQVJJRGJBRURn" id="instafeed">
      </div>
     </div>
    </div>
   </div>
  </section>
 
  {% endblock %}