{% extends 'layout.html' %}

{% block content %}

{% load static %}

<section class="signin-page account">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo navbar-brand" href="{% url 'istore:homepage' %}">
            <h1>youBuy</h1>
          </a>
          <h2 class="text-center">Welcome Back</h2>
          <form class="text-left clearfix" method="post" action="{% url 'accounts:login' %}" >
            {% for m in messages %}
            <p>{{m}}</p>
            {% endfor %}
            
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control mt-3 " name="password"  placeholder="Password">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-main mt-3 text-center" >Login</button>
            </div>
          </form>
          <p class="mt-20">New in this site ?<a href="{% url 'accounts:signup' %}"> Create New Account</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}